.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  width: 100%;
  height: 100vh;

  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      gap: 1rem;

      h1 {
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.1rem;
      max-width: 26ch;
      text-align: center;
      color: var(--gray-500);
    }
  }

  button {
    background-color: var(--primary);
    padding: 1.5rem 5rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    font-size: 1.25rem;
    font-weight: 600;
  }
}
